<nav class="navbar bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">StudyMate</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="&#xf002  Search Posts" />
            <button class="btn btn-outline-success mr-sm-5" type="submit">Search</button>
            <input class="form-control mr-sm-2" type="search" placeholder="@username" />
            <button class="btn btn-outline-primary" type="submit">Search User</button>
        </form>
        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              @username
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Update Profile</a>
              <a class="dropdown-item" href="#">Create Room</a>
              <a class="dropdown-item" href="#">Create Post</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Logout</a>
            </div>
          </div>
    </div>
</nav>