<h1>Registrations Page</h1>
{% for message in messages %}
    <p>{{message}}</p>
{% endfor %}

{% if flag %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit">
    </form>
    <p><a href="{% url 'register' %}">Register</a></p>

{% else %}
<form action="" method="post">
    {% csrf_token %}
    <p><input type="text" name="f_name" placeholder=" enter firstname" id=""></p>
    <p><input type="text" name="l_name" placeholder="enter lastname"></p>
    <p><input type="text" name="u_name" placeholder="enter username"></p>
    <p><input type="email" name="email" placeholder="enter email"> </p>
    <p><input type="password" name="pass1" placeholder="Enter password"></p>
    <p><input type="password" name="pass2" placeholder="Reenter password"></p>
    <input type="submit">
    <!-- {{form.as_p}} -->
    <input type="submit">
    

</form>
    <p>Alredy signed UP</p>
    <p><a href="{% url 'login' %}">Login</a></p>


{% endif %}